<h4 style="text-align: center;">Lizard Demo</h4>
<div class="component"
  [ngStyle]="{'background-color': backgroundColor()}"
  style="height: 90vh; width: 95vw;">
  <span>component-tree</span>
  <app-component-1 class="component"></app-component-1>
  <app-component-2 class="component"
    [sequence]="sequence()"></app-component-2>
  <!-- <button class="corner-button"
    (click)="onClick()">Click</button> -->
  <button #btn
    class="corner-button">Click</button>
  <input (keyup)="keyup()">
</div>